.card {
    background: transparent;
    border: none;
    align-self: center;
    align-content: center;
    align-items: center;
}
.card-img {
    width: 40%;
    align-items: center;
    align-self: center;
}
.names {
    text-align: center;
    font-size: 90px;
    color: cornsilk;
}
.card-title {
    padding-left: 0;
    background-color: black;
}